# Copyright (c) 2024 MASSDRIVER EI (massdriver.space)
# SPDX-License-Identifier: Apache-2.0

if BOARD_PROMICRO_NRF52840_MY

config BOARD_HAS_NRF5_BOOTLOADER
	bool "Board has nRF5 bootloader"
	default n
	help
	  Enable this only for builds that must coexist with the board bootloader.
	  The normal SWD/debug build starts at address 0x0000.

endif # BOARD_PROMICRO_NRF52840_MY
